@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:wght@200&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:wght@300&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:wght@600&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


.name h1{
    position: relative;
    z-index: 1;
    color: aliceblue;
    font-size: 100px;
    padding: 110px 0px 240px 20px;
    line-height: 90px;
    border: 10px solid whitesmoke;
    margin: 7px 510px 0 116px; 
    border-radius: 50px;
}
.main{
    padding-top: 100px;
}
.shopnow{
    position: absolute;
    color: #1C1C1C;
    background-color: gainsboro;
    border-top: 10px solid #1C1C1C;
    border-bottom: 10px solid #1C1C1C;
    border-right: 10px solid #1C1C1C;
    padding: 10px 70px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: -190px;
    z-index: 1;
}

.shopnow p{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 4px;
}

#myVideo {
    position: absolute;
    right: 510px;
    top: 110px;
    bottom: 0;
    width: 56%;
    border-radius: 50px; 
}

#myVideo2 {
    position: absolute;
    right: 510px;
    top: 199px;
    bottom: 0;
    width: 56%;
    border-radius: 50px;
    
}